@font-face {
  font-family: Poppins;
  src: url("./resources/font/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./resources/font/Poppins-Bold.ttf");
}

@media only screen and (max-width: 600px) {
  body {
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin: 0;
  }
}

html {
  background: #ebebff;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background: white;
  width: 100vw;
}

.menu {
  float: right;
  padding-left: 60%;
  padding-top: 2%;
}

.headline-container {
  height: 60vh;
  width: 100vw;
}

article {
  display: flex;
  min-height: 113vh;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 15%;
  background-image: url("./resources/images/header-shapes\ mobilebackground-Main.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 99% 20%;
}

.item1 {
  padding-top: 10vh;
}

.item2 {
  height: 40vh;
  border-bottom-left-radius: 20%;
}

.title {
  font-family: Poppins-Bold, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
  padding-left: 24px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.presentation {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 0;
  margin-right: 24px;
  margin-top: 0;
  padding-left: 24px;
  color: #344563;
}

.connection {
  padding-left: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.span {
  display: flex;
  justify-content: left;
  list-style: none;
  padding-left: 1%;
  padding-right: 10vw;
  margin-bottom: 0;
}

.social-media {
  margin-left: 26px;
}
.work-section {
    margin: 100% 0;
    display: grid;
    row-gap: 25px;
    padding: 5%;
    justify-items: center;
}
.work-card {
    background: #fff;
    border-radius: 10px;
    min-height: 3em;
    border: 1px solid #c6c6c6;
    padding: 20px 15px;
    display: grid;
}
.work_preview {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-self: center;
    overflow: hidden;
  }
  .work_preview img {
    transition: transform 0.2s ease-in-out;
    max-width: 100%;
  }
  
  .work_preview:hover .project-img {
    transform: scale(1.4);
  }
  .work_detail {
    align-items: center;
    padding: 10px;
  }
  
  .work_title {
    margin: 10px 0;
    color: #172b4d;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }
  
  .work_info {
    display: flex;
    overflow: hidden;
    color: #7a869a;
    padding-left: 1%;
  }
  .info_item {
    margin-right: 15px;
    list-style-position: inside;
    margin-left: 1px;
  }
  .info_item:first-child {
    font-weight: bold;
    list-style: none;
    color: #344563;
  }
  
  .info_item:last-child {
    margin-right: 0;
  }
  .work_details_content {
    margin: 10px 0;
    padding: 10px 0;
    color: #344563;
  }
  .btn {
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    color: #396df2;
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #396df2;
    transition: color 0.5s ease-in-out, background 0.2s ease-in-out;
  }
  
  .btn:hover {
    color: #fff;
    background: #396df2;
  }

  
  
    